body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(https://wallpapercave.com/wp/wp2449403.jpg) fixed no-repeat;
    background-size: cover;
    background-color: #b0c4de;
    color: #333;
}
#container {
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
}


form {
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 50%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#errors {
    margin-bottom: 20px;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid #f00;
    border-radius: 3px;
}

#errors ul {
    margin: 0;
    padding: 0;
}

#errors li {
    list-style-type: none;
    color: #f00;
}